<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="2.0.0-preview2-25405-01" targetFramework="uap10.0.15063" />
  <package id="Microsoft.NETCore.Targets" version="2.0.0-preview2-25405-01" targetFramework="uap10.0.15063" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="5.4.0" targetFramework="uap10.0.10240" />
  <package id="MonoGame.Framework.WindowsUniversal" version="3.6.0.1625" targetFramework="uap10.0.10240" />
  <package id="System.Runtime" version="4.3.0" targetFramework="uap10.0.14393" />
</packages>